<!DOCTYPE html>
<html>
<body>
	<header>
		<img class="item-center d-block mx-auto" src="img/fi-logo.png" alt="Logotipo de la facultad">
		<h1 class="text-center">Facultad de Ingenieria</h1>
		<h4 class="text-center">Educacion publica y de calidad</h4>

		<nav class="navbar navbar-expand-lg bg-primary-subtle mb-2">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Menu</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="/">Inicio</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="https://www.fi.unju.edu.ar/institucional/historia.html">Acerca
								de</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="https://www.fi.unju.edu.ar/noticias/historial.html">Noticias</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Carreras</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Contacto</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
</body>
</html>