<!doctype html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Resumen del contenido de la página">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
	<title>Título de la página</title>
</head>

<body class="bg-light">

	<header>
		<img class="item-center d-block mx-auto" src="../static/img/fi-logo.png" alt="Logotipo de la facultad">
		<h1 class="text-center">Facultad de Ingenieria</h1>
		<h4 class="text-center">Educacion publica y de calidad</h4>
	</header>
	<nav class="navbar navbar-expand-lg bg-primary-subtle mb-2">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Menu</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="index.html">Inicio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://www.fi.unju.edu.ar/institucional/historia.html">Acerca de</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://www.fi.unju.edu.ar/noticias/historial.html">Noticias</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Carreras</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contacto</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<main>
		<section class="container">
			<div class="row">

				<div class="col-md-9">
					<div>
						<h5>Breve reseña:</h5>
						<p>La Facultad de Ingeniería de la Universidad Nacional de Jujuy (UNJu) es una institución
							académica
							destacada en el noroeste argentino. Ofrece programas de pregrado y posgrado en diversas
							ramas de
							la
							ingeniería, incluyendo Ingeniería Industrial, Ingeniería de Minas, Ingeniería Informática e
							Ingeniería Química, entre otras. La facultad se caracteriza por su compromiso con la
							excelencia
							académica, la investigación y el desarrollo tecnológico, así como por su enfoque en la
							formación
							de
							profesionales altamente capacitados y éticamente responsables. Además, fomenta la
							vinculación
							con el
							sector productivo y la comunidad, promoviendo proyectos que contribuyen al desarrollo </p>
					</div>
					<div>
						<h5>Noticias recientes:</h5>
						<div class=primary"mb-4">
							<a href="https://www.fi.unju.edu.ar/turno-ordinario-de-examenes"><img class="img-fluid"
									src="../static/img/2do-turno-24.jpg"></a>
						</div>
						<div class="row">
							<div class="col">
								<a
									href="https://www.fi.unju.edu.ar/codinoa/4588-75-reunion-plenaria-y-asamblea-del-confedi-fiunju.html">
									<img class="img-fluid" src="../static/img/confedi-fiunju.jpg"></a>
							</div>
							<div class="col">
								<a
									href="https://www.fi.unju.edu.ar/actas-acuerdos-convenios/4586-encuentro-entre-la-facultad-de-ingenieria-y-la-municipalidad-de-palma-sola-para-la-renovacion-de-convenios.html">
									<img class="img-fluid " src="../static/img/renovacion-convenios-palma-sola.jpg"></a>
							</div>
						</div>
					</div>
				</div>
				<aside class="col-md-3">
					<ul>Links de interés
						<li><a href="https://www.fi.unju.edu.ar/servicios/biblioteca.html">Biblioteca</a></li>
						<li><a href="https://www.fi.unju.edu.ar/secretarias/sec-academica/calendario-academico.html">Calendario
								académico</a></li>
						<li><a href="https://alumnos.unju.edu.ar/unju/">SIU Guaraní</a></li>
					</ul>
				</aside>
			</div>
		</section>
	</main>
	<footer> © pie de la página </footer>
</body>

</html>